# /etc/systemd/system/ocean.service

[Unit]
Description=Persistent Ocean Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/code/ocean
ExecStart=/usr/local/bin/docker-compose pull && /usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
StandardOutput=file:/var/log/ocean.log
StandardError=file:/var/log/ocean-error.log

[Install]
WantedBy=multi-user.target
