# /etc/systemd/system/ocean.service

[Unit]
Description=Persistent Ocean Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/code/service
ExecStart=/usr/local/bin/docker-compose -f docker-compose-arm32v6.yml up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
